h1{
    background-color: black;
    color: white;
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

body{
    font-size: 24px;
    color: black;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/53/9556248b4747950.png");
}

.img-thumbnail{
    height: 300px;
    width: 300px;
    border: 1px solid black;

}

