.footer{
    background-color: black;
    color: white;
    padding: 20px;
}

.img-thumbnail{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.footer{
    padding: 200px;
    background-color: cornflowerblue;
    color: white;
}